body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.change {
  color: white;
  background-color: #1b263b;
}
/* Navigation Bar */
nav {
  background-color: #ffffff;
  color: #1b263b;
  overflow: hidden;
  display: flex;
  width: 100%;
  position: sticky;
  top: 0;
}

.navbar-brand {
  color: white;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0px 3px;
  text-align: justify;
}

nav a {
  color: white;
  padding: 16px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica;
  font-size: 18px;
}
nav a :hover {
  color: gold;
}

.dropdown-toggle {
  transition: 0.5s;
}

.nav-link {
  min-width: 90px;
  margin-left: 15px;
  margin-right: 15px;
}

h1,
h2 {
  text-align: center;
}
#root {
  text-align: center;
}

.profile-row {
  display: inline-block;
}

.LoginRegForm {
  background-color: #1b263b;
  color: white;
  border: 1px;
  padding: 10%;
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: auto auto;
  opacity: 0.9;
}

.registerForm {
  margin-bottom: 20px;
}

.buttonOr {
  background-color: white;
  color: #1b263b;
}

.buttonOr:hover {
  background-color: goldenrod;
  color: white;
}

.loginIMG {
  max-width: 50vw;
}

.description-card {
  padding: 8%;
  border-style: outset;
  font-size: large;
  margin: 20px;
}

.tasks-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minMax(100px, auto);
}

.request-btn {
  background-color: goldenrod;
  border-color: goldenrod;
}

.del-btn {
  background-color: red;
  border-color: red;
}
.del-btn:hover {
  background-color: red;
  border-color: red;
}
